/* =========================================
   Global Reset & Standard CSS
   (No @tailwind directives needed here)
   ========================================= */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --primary-color: #00FF00;
  --secondary-color: #00CC00;
  --bg-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  /* cream */
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}


/* =========================================
   Custom Scrollbar Styling
   (This makes the scrollbar look like your design)
   ========================================= */

/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}